body {
    background-color: skyblue;
  }
  
  .btn:hover {
    cursor: pointer;
  }
  
  #start {
    height: 100vh;
    color: darkslateblue;
    position: relative;
  }
  
  #name{
    font-size: 100px;
  }
  
 p {
    text-align: center;
    color: purple;
  }
  
  #start.occurring {
    margin-top: -90vh;
  }
  
  #start.occurring + #game {
    display: flex;
  }
  
  #game {
    display: none;
  }
  
  #game .row {
    width: 100%;
  }
  
  .container {
    flex-wrap: wrap;
  }
  
  .card-container {
    width: 85%;
    padding-bottom: 85%;
    position: relative;
    margin: 10px;
  }
  
  .card-container:hover {
    cursor: pointer;
  }
  
  .card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .card.occurred {
    transform: rotateY( 180deg );
  }
  
  .before{
    background: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 2px solid black;
    overflow: hidden;
  }
  .after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY( 180deg );
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 2px solid black;
    overflow: hidden;
  }
  
  
  img {
    height: 100%;
    width: auto;
  }
  
  #score {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 50px;
    color: purple;
  }
  
  #finish {
    display: none;
  }
  
  #finish.game-over {
    display: flex;
    background-color: Yellow;
    flex-direction: column;
    align-items: center;
    color: black;
    justify-content: space-around;
    text-align: center;
  }
  